<div class="container-fluid background-container">
  <div class="container" id="home">

    <div class="row">

      <section class="first-section d-md-flex justify-content-center">

        <div class="col-md-6 col-sm-12 main-div">
          <img src="../../../assets/images/hero-1.png" class="hero-img" alt="Hero image">
        </div>

        <div class="col-md-6 col-sm-12 hero-text-container">
          <h2 class="main-h2">TIME IS <span class="fancy">MONEY</span></h2>
          <br>
          <p>Get a high-level overview of your tasks with your own dashboards.
            Make confident decisions and easily scale workflows for your evolving needs.
            Everything starts with a visual board — the core of TaskManager.com. Tailor it your way and manage
            anything from tasks to projects.
            Streamline your work for maximum productivity.
            Centralize all your work, processes, lists, and tasks into one dashboard.
            Stay on track to reach your goals, faster.
            Adapt to changes and prioritize workloads strategically to boost your productivity and facilitate more
            efficient workflows. Quickly identify what needs your attention and catch potential risks before they
            happen.</p>
          <div class="container d-flex justify-content-center">
            <button (click)="goToPricing()" class="btn btn-primary get-started-btn">Get started</button>
          </div>
        </div>
      </section>
    </div>

    <div class="row my-5">

    </div>

    <div class="row">

      <h2 class="text-center why-us-text">YOU MIGHT ASK: <br>
        <span class="fancy-2">WHY US?</span></h2>

      <section class="why-us d-md-flex justify-content-center container-fluid">

        <div class="us-container analyse col-md-4 col-sm-12 text-center">
          <img class="icon" src="../../../assets/images/analysis.png" alt="">
          <h2>Analyse</h2>
          <p>Analyze your tasks and <br>you will never forget anything</p>
        </div>

        <div class="us-container store col-md-4 col-sm-12 text-center">
          <img class="icon" src="../../../assets/images/document.png" alt="">
          <h2>Store</h2>
          <p>Store your important ToDo's <br> and make them happen!</p>
        </div>

        <div class="us-container manage col-md-4 col-sm-12 text-center">
          <img class="icon" src="../../../assets/images/setting.png" alt="">
          <h2>Manage</h2>
          <p>Manage your tasks and lists <br> in one place</p>
        </div>
      </section>
    </div>

  </div>

</div>
