<div class="container-fluid background-container">
  <div class="container centered-content">
    <div class="modal-box">
      <h1 class="title">
        Create a new list
      </h1>

      <div class="mb-3">
        <input #listTitleInput type="text" class="form-control" placeholder="Create a new list">
      </div>

      <div class="btn-group d-flex" role="group">
        <button routerLink="/lists" class="btn btn-danger">Cancel</button>
        <button class="btn btn-success" (click)="createList(listTitleInput.value)">Create</button>
      </div>

    </div>
  </div>
</div>
