.background-container {
  background: linear-gradient(to right top, #44ddd0, #27d7a1);
}

.modal-box {
  margin: 300px 0;

}

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: white;
  border-radius: 5px;
  padding: 35px;
}
